
@import url('https://fonts.googleapis.com/css2?family=Prata&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes LoadIn {
    0% {
        opacity: 0%;
    } 
    100% {
        opacity: 100%;
    }
}

body {
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003e5b;
    animation: LoadIn 1.25s ease-in none normal;

}

main {
    /* font-family: Staatliches; */
    width: 100%;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #0e005b;s */
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: prata;
    font-size: 4rem;
}

h2 {
    font-family: "work sans";
    font-size: 3rem;
    color: #67faff;
}

h3 {
    font-family: "Work Sans";
    font-size: 1.25rem;
}

p {
    font-family: "Work Sans";
    font-size: 1rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

* {
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav, footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center ;
}


footer h3 a {
    text-decoration: underline;
    color: #00f7ff;
    font-family: "Work Sans";
    font-size: 1.25rem
}

/*      S E C T I O N S         */


/*    S E C T I O N S    E N D    */


/*    H O M E   */


.home {
    /* background-color: red; */
}

.home nav { 
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home nav a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    border-bottom: 3px solid #67faff00;
}

.home nav a:hover {
    border-bottom: 3px solid #67faff;
    transition: border-bottom .3s ease-in-out;
}

.home-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.home-profile {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 0, 0, 0);
    padding: 2%;
}

.home-profile-img {
    width: 50%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profile-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home-profile button {
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    border: 3px solid #67faff;
    border-radius: 5%;
    background-color: #67faff00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

hr {
    border: 2px solid #000000;
    margin-top: 1rem;
}

/*    T E M P L A T E S   */


/* .templates nav, .templates footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

} */

.templates-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.template-display-feature {
    width: 40%;
    min-height: 50vh;
    background-color: rgba(146, 146, 146, 0.205);
    padding: 2%;
}

.template-text-feature {
    width: 40%;
    min-height: 50vh;
    background-color: rgba(146, 146, 146, 0.205);
    padding: 2%;
}


/*    A B O U T   M E   */


.about-me-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;

}

.about-me-text {
    background-color: rgba(0, 0, 0, 0);
    max-width: 40%;
    padding: 2%;
    box-sizing: border-box;
}

.about-me-img {
    background-color: rgb(0, 26, 255);
    max-width: 20%;
}

.about-me-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/*    C O N T A C T   */


.contact-content {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    /* border: 3px solid purple; */
    box-sizing: border-box;
    padding: 2%;
}

.contact-img {
    background-color: rgb(255, 0, 0);
    width: 40%;
    height: auto;
    /* border: 3px solid yellow; */
}
.contact-text {
    /* background-color: rgb(0, 255, 0); */
    width: 40%;
    min-height: 50vh;
    /* border: 3px solid blue; */
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: .5rem 0;
}

.icon-list li a img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.icon-list li a {
    width:30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text button {
    margin-top: 1rem;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    border: 3px solid #67faff;
    border-radius: 5%;
    background-color: #67faff00;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.contact footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
