@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


body {
    font-family: Koulen;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(to left,#000,#000,#080808,#0f0f0f,#080808,#000000,#000);
    letter-spacing: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    margin: 0 auto;
}
  
h1 {
    text-align: center;
    letter-spacing: 10px;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

a:visited {
    text-decoration: none;
}

img {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);
}

ul {
    width: 200px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li  {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.icons {
    margin-right: 15px;
}

.linkcontainer {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ghostdiv {
    height: 157.6px;
    width: 57.6px;
}